/* 헤더 */
.header {
    text-align: center;
}

.navi ul {
    list-style-type: none;
    padding-left: 10px;
    background-color: black;
    width: 990px;
    height: 50px;
    margin: auto;
}

.navi ul a {
    color: white;
    text-decoration: none;
}

.navi ul a:hover {
    background-color: pink;
    color: black;
}

/* 바디 회원가입 */
#container {
    width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding: center;
    font-family: '맑은 고딕';
}

.navi ul li {
    display: inline-block;
    /* color: white; */
    padding-right: 15px;
    margin-top: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

#login {
    color: white;
    text-align: right;
    /* margin: auto; */
    position: relative;
    left: 200px;
    font-weight: bold;
}

.join {
    text-align: center;
    list-style-type: none;
}

.join li {
    border: 1px solid black;
    width: 500px;
    height: 50px;
    margin: auto;
    text-align: center;
}

input[type='submit'] {
    width: 150px;
    height: 50px;
}

.leftbar {
    margin-top: -15px;
    width: 200px;
    height: 700px;
    float: left;
    background-color: lightblue;
    margin-bottom: 15px;
    margin: 0px;
    text-align: center;
}

.content {
    width: 600px;
    height: 700px;
    float: left;
    background-color: white;
    margin: 0;
}

.rightbar {
    float: right;
    margin-top: -15px;
    width: 200px;
    height: 700px;
    background-color: lightblue;
    margin-bottom: 15px;
    margin: 0;
    text-align: center;
}
fieldset{
    border: none;
}

/* 푸터 */
footer {
    clear: both;
    background-color: lightgray;
    height: 70px;
    width: 1000px;
    margin: auto;
    padding: 5px 0;
    text-align: center;
}