/* 헤더 */
.forH {
    text-align: center;
}

/* 페이지 전체 설정 */
#container{
    width: 1000px;
    margin: 0 auto;
    /* padding: auto; */

}
*{
    box-sizing: border-box;
    font-family: '맑은 고딕';
}

/* 상단 ui 리스트 */
.navi ul {
    list-style-type: none;
    width: 1000px;
    height: 50px;
    padding-left: 10px;
    margin: auto;
    background-color: black;
}
.navi ul a:hover{
    background-color: pink;
    color: black;
}

.navi ul li {
    display: inline-block;
    padding-right: 15px;
    margin-top: 12px;
    font-size: 16.9px;
    font-weight: bold;    
}
#login{
    text-align: right;
    position: relative;
    left: 450px;
    font-weight: bold;
}

.navi ul a {
    color: white;
    text-decoration: none;
}

/* 바디 */
/* 왼쪽 사이드바 */
#leftbar{
    width: 200px;
    height: 700px;
    float: left;
    background-color: lightblue;
    text-align: center;
}

/*컨텐츠*/
section.content{
    text-align: center;
    float: left;
    width: 600px;
    height: 700px;
    padding: 10px;
    margin: 0px auto;
}

legend{
    font-size: largr;
    font-weight: bold;
    border: none;
    padding-top: 15px;
}

form{
    width: 500px;
    text-align: center;
    margin: 0px auto;
    background-color: #ccc;
    padding: 10px;
}

form li{
    background-color: white;
    background-color: (255, 255, 255, 0.5);
}

fieldset{
    border: none;
}
fieldset>ul{
    text-align: center;
    padding-inline-start: 0px;
}

.join li{
    list-style-type: none;
}